[submodule "rust"]
	path = rust
	url = https://github.com/mozilla/rust
[submodule "cgmath-rs"]
	path = cgmath-rs
	url = https://github.com/rlane/cgmath-rs
	branch = gamedev-kit
[submodule "glfw-rs"]
	path = glfw-rs
	url = https://github.com/rlane/glfw-rs
	branch = gamedev-kit
[submodule "noise-rs"]
	path = noise-rs
	url = https://github.com/rlane/noise-rs
	branch = gamedev-kit
[submodule "gl-rs"]
	path = gl-rs
	url = https://github.com/rlane/gl-rs
	branch = gamedev-kit
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
